html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
}


body {
    main:#DDB9A3;
    font-family: 'Roboto Mono', monospace;
}

.plan {
    padding:26px 26px;
    display:inline-block;
    text-decoration:none; 
    border-radius:6px;
    background-color:#FF764E;
    color:white;
    margin-left:100px;
    margin-right:150px;
}

.learn {
    padding:26px 26px;
    display:inline-block;
    text-decoration:none; 
    border-radius:6px;
    background-color:#5ED3EB;    ;
    color:white;
    margin-left:100px;
    margin-right:150px;
}

.get {
    padding:26px 26px;
    display:inline-block;
    text-decoration:none; 
    border-radius:6px;
    background-color:#FFCD69;
    color:white;
    margin-left:100px;
    margin-right:150px;
}

img.yosemite {
    border-radius: 50%;
    height:400px;
    width:400px;
    margin-top:50px;
}

